extends ../layout

block content
  h1= t('titleListAuthor')

  if authors.length
    ul
      each author in authors
        li
          a(href=`/authors/${author.id}`) #{author.familyName}, #{author.firstName} (#{author.dateOfBirth.getFullYear()} - #{author.dateOfDeath ? author.dateOfDeath.getFullYear() : 'Present'})
  else
    p= t('noAuthor')
